# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\utcn\iaisc-2020-ssatr-32134-mihaly-vlad\tema-4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
